/*!
CONTENTS:

01 Sensible defaults
02 Typography
03 Non-semantic
04 Navbar
05 Single-Page Sections
06 Footer
07 Bootstrap Carousel
08 Buttons
09 Media queries 
===========================
*/

/* ---------------------------------------------------------------------------------------------------------- 
01 Sensible defaults ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */



#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

button {
    color: #FFF;
    background-color:#238BAE;
    font-size:8px  
}
button:hover {
    color: #fff;
    background-color:#23282C 
    font-size:8px  
}

#login-dp .form-group {
    margin-bottom: 10px;
}

div, article, section, header, footer, nav, li {
	position:relative;
}
.group:after {
	display:block;
	height:0;
	clear:both;
	content:".";
	visibility:hidden; /* For clearing */
}
body {
	background:#FFF;
	color: #312A1E;
	font-size: 100%;
	font-family: 'Quattrocento', serif;
}
::-moz-selection {
background:#238BAE;
color:#333;
}
::selection {
background:#238BAE;
color:#333;
}
/*---------- FORMS ----------*/

input[type=text], input[type=submit], textarea {
	width: 100%;
	padding: 0.5em;
	font-size: 1em;
	margin-bottom: 1.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input, button, select, textarea {
	font-family: 'Quattrocento', serif;
}
/* ---------------------------------------------------------------------------------------------------------- 
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)



Colour code: 238BAE
*/



p {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
ul, ol {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
body, input, textarea {
}
a:link, a:visited {
	color: #F1505A;
}
a:hover, a:active {
	color: #F1505A;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal; /* reset default browser weight for our webfonts */
	font-family: 'Patua One', cursive;
}
h1 {
	font-size: 1.5em; /* 24px */
	line-height: 1; /* 24px */
	margin-top: 1.42em;
	margin-bottom: 0em;
}

strong {
	font-weight:normal;
	font-family: 'Open Sans', sans-serif;
}
small {
	font-size: 0.75em; /* 12px */
	line-height: 2; /* 24px */
	margin-top: 2em;
	margin-bottom: 0em;
}
em {
	font-style: normal;
	font-family: 'Open Sans';
}
.muted {
	color: #A5A5A2;
	font-family: 'Quattrocento', serif;
}
.impressed {
	text-shadow:
 -1px -1px 0 rgba(0, 0, 0, 0.5), /* shadow */  1px 1px 0 rgba(255, 255, 255, 0.9); /* highlight */
}
.more-link {
	font-size: .875em; /* 14px */
	margin-top: 1.5em;
	font-family: 'Patua One', cursive;
}
.more-link:link, .more-link:visited {
	color: #238BAE;
	text-transform: uppercase;
}
/* ---------------------------------------------------------------------------------------------------------- 
03 Non-semantic ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/* New Image Replacement Hack */

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1em;
}
.alignright {
	text-align: right;
}
.alignleft {
	text-align: left;
}
.aligncenter {
	text-align: center;
}
.medium {
	font-weight: normal;
	font-family: 'Quattrocento', serif;
}
/* ---------------------------------------------------------------------------------------------------------- 
04 Navbar ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

.navbar-fixed-top .container {
/* Uncomment to make nav expand full width */
 /*	width: auto; */
}
.navbar .brand {
	margin-left:0;
	padding: 0;
	margin-top: 1.05em;
}
.navbar .brand a {
	padding: 0;
	color: #fff;
	font-size: 1.75em;
	margin-left: 0;
	font-weight: normal;
	font-family: 'Patua One', cursive;
}
.navbar .brand a:hover {
	text-decoration: none;
	color:#238BAE; /* THIS IS THE FADE IN SECTION FOR THE HEADING TITLE */
 transition: color .15s linear;
 -webkit-transition: color .15s linear;
 -moz-transition: color .15s linear;
}
.navbar .brand a:focus {
	outline: none;
}
.navbar-inner {
	min-height: 4.75em;
}
.navbar-inverse .navbar-inner {
	background-repeat: repeat;
	background-color: #23282C; /* header background colour */
	border-color: #238BAE;
}
.navbar-wrapper {
	overflow:hidden;/* No fixed height, will break collapsible nav */
}
#menu-main {
	margin-top: 1.125em;
}
ul#menu-main > li > a {
	font-family: 'Patua One', cursive;
	font-weight: normal;
	font-size: 1em;
	color: #fff;
}
ul#menu-main > li > a:hover {
	background: #238BAE;          /* this section  for the head menu hover over*/
	padding: 9px 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	text-shadow: none;
}

/* ---------------------------------------------------------------------------------------------------------- 
06 Footer ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

#map-wrapper {
	margin-top: 20px;
}
footer {
	text-align: center;
	color: #1a1a1a;
	font-weight: bold;
}
footer p {
	margin-top: -130px;
}
/* ---------------------------------------------------------------------------------------------------------- 
07 Bootstrap Carousel ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
    
    .carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-top: 200px;
	position:absolute;
}
.carousel-caption h1,  .carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.carousel-caption .btn {
	margin-top: 10px;
}
.carousel-control {
	height: 50px;
	top: 46%;
	margin-top: 0;
	font-size: 6.5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background-color: transparent;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.4;
	border-radius: 0;
}
.carousel-control:link, .carousel-control:visited {
	color: #262626;
}
/* Banner Carousel  */    
    #banner.carousel {
	margin-top: 4.75em;
	margin-bottom: 0;
	margin-top: 0;
	max-height: 642px;
}
.banner-caption {
	/*	width: 18%; */
    	position: absolute;
	left: 20%;
	top: 10%;
	color: #007ac3;
}
#intro-caption {
	margin-top:150px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 80px;
	line-height: 90px;
	color:#fff;
	font-weight:bold;
	text-shadow: 2px 2px 2px #000;
}
#intro-caption span {
	font-family:'Open Sans', sans-serif;
	font-size: 0.65em;
}
#banner.carousel .item {
}
#banner.carousel img {
}
#banner.carousel .carousel-control {
}
/* ---------------------------------------------------------------------------------------------------------- 
08 Buttons ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */    
.btn {
	font-family: 'Patua One', cursive;
	color: #fff;
	width: 185px;
	height: 20px;
	text-shadow: none;
	font-size: 1.3125em; /* 21px */
	padding: 1em 0.5em;
	letter-spacing: 0.05em;
	margin: 4.5em auto 0;
	display: block;
	border: 0;
	text-transform: none;
	background: #238BAE !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.btn:link, .btn:visited {
	color: #fff;
}
.btn:hover {
	background: #312A1E !important;
}
.navbar-inverse .btn-navbar {
	width: auto;
	height: auto;
}


